<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Info" internalLogFile="c:\temp\nlog-internal.log">


  <variable name="myvar" value="myvalue"/>


  <targets>

    <target xsi:type="Console" name="console"  layout="${longdate} ${uppercase:${level}} [T${threadid}]  ${message} "/>
    <target xsi:type="File" name="logfile" fileName="log.txt" />

  </targets>

  <rules>
    <logger name="MyShadowsocks.Controller.MyShadowsocksServer" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Info" writeTo="logfile,console" />
  </rules>
</nlog>
